[Unit]
Description=PlayWHAT Daemon
After=network.target

[Service]
Type=forking
User=pi
Group=pi
PIDFile=/run/playwhat/playwhat.pid
ExecStart=python3 -m playwhat.service
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
WorkingDirectory=/opt/PlayingWHAT/git
ConfigurationDirectory=playwhat
RuntimeDirectory=playwhat
LogsDirectory=playwhat
Environment=ENV_FILE=/opt/PlayingWHAT/.env LOG_CONF_FILE=/opt/PlayingWHAT/log_service.yaml

[Install]
WantedBy=multi-user.target